[user]
	name = tschady
	email = tschady@users.noreply.github.com

[github]
	user = tschady

[gitlab]
	user = tschady

[init]
	defaultBranch = main

[core]
	editor = emacs -Q
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = true
[pull]
	rebase = true

[push]
	default = simple

[rebase]
	autosquash = true

[rerere]
	enabled = true

[alias]
	pushall = push --recurse-submodules=on-demand
	pullall = "!git pull && git submodule update --init"

	# basics
	aa = add --all
	ap = add --patch
	br = branch
	ca = commit --amend
	ci = commit
	cl = clone
	co = checkout
	cp = cherry-pick
	create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
	delete-branch = !sh -c 'git push origin :refs/heads/$1 && git branch -D $1' -
	merge-branch = !git checkout master && git merge @{-1}
	diff = diff --word-diff
	dc = diff --cached
	st = status -sb
	up = !git fetch origin && git rebase origin/master

	# screw that, start over
	wipe = reset --hard HEAD
	# undo last
	undo = reset --soft HEAD^
	# discover what I did in last workday
	standup = "!git log --since=$(if [[ $(date +%u) -eq 1 ]]; then echo "3.days.ago"; else echo "yesterday"; fi) --pretty=format:'%C(yellow)%h%C(red)%d %Creset%s%C(blue) [%cn]' --author=$(git config user.email) --date=short --decorate"
	# before pushing, cleanup commits
	ready = rebase -i @{u}
	# listings
	ignored = ls-files --others -i --exclude-standard
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate
	# diffs
	filelog = log -u
	fl = log -u
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	lc  = "!f() { git ll "$1"^.."$1"; }; f"
	diffr  = "!f() { git diff "$1"^.."$1"; }; f"
