### Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Emacs Org-mode
.org-id-locations
*_archive

### Clojure (Leiningen)
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.eastwood

###  R
# History files
.Rhistory

# Example code in package build process
*-Ex.R

### Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
# doc/


# Core files
*.core

#### Mac OS X
.DS_Store
#.AppleDouble
#.LSOverride
#Icon

# Thumbnails
# ._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
