### Emacs
# general
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
my-customize.el
ido.last
# multiple-cursors extension auto-gen file
.mc-lists.el

# org-mode
.org-id-locations
*_archive
# packages
emacs/.emacs.d/.cask

# backups
emacs/.emacs.d/backups
# savepoints
emacs/.emacs.d/saved-places

### ZSH
.zsh_history
.zcompdump

# oh-my-zsh
.zsh-update

# emacs configs
## don't save web browser utils
emacs/.emacs.d/var/
emacs/.emacs.d/url/
